certifi==2022.12.7
future==0.18.3
influxdb-client==1.36.1
iso8601==1.1.0
numpy==1.24.2
pyserial==3.5
python-dateutil==2.8.2
PyYAML==6.0
reactivex==4.0.4
six==1.16.0
typing-extensions==4.5.0
urllib3==1.26.15
